<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wayfinder.rinno.wayfinderentregafinal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.wayfinder.rinno.wayfinderentregafinal.FirebaseApplication"
        android:allowBackup="true"
        android:largeHeap="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.wayfinder.rinno.wayfinderentregafinal.activitys.MainScreenActivity"
            android:theme="@style/myTema"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wayfinder.rinno.wayfinderentregafinal.activitys.MenuScreenActivity"
            android:theme="@style/myTema" />
        <activity
            android:name="com.wayfinder.rinno.wayfinderentregafinal.activitys.AgregarNodoActivity"
            android:theme="@style/TranslucentActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.wayfinder.rinno.wayfinderentregafinal.activitys.TiendaMapaActivity"
            android:theme="@style/TranslucentActivity"
            android:windowSoftInputMode="stateHidden"></activity>
        <receiver android:name="com.wayfinder.rinno.wayfinderentregafinal.AutoStart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b49d62f555a19ae72f3d4e4968f2e543db1ee0b6" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b49d62f555a19ae72f3d4e4968f2e543db1ee0b6" />
    </application>

</manifest>